.bj1 {
	color: #f8981c;
	background-color: #c41111;
}

.bj2 {
	color: #f8981c;
	background-color: #7d667b;
}

ul {
	color: #00FF00;
	background-color: #FFFF00;
}

a {
	color: #FFFFFF;
	background-color: #00008B;
}